<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>
  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>메뉴이름</th>
<!--        <th>가격</th>-->
<!--        <th>재고수량</th>-->
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="menu : ${menus}">
        <td th:text="${menu.id}"></td>
        <td th:text="${menu.name}"></td>
<!--        <td th:text="${menu.price}"></td>-->
<!--        <td th:text="${menu.stockQuantity}"></td>-->
        <td>
          <a href="#" th:href="@{/menus/{id}/edit (id=${menu.id})}"
             class="btn btn-primary" role="button">수정</a>
          <form th:action="@{/menus/{id}/delete (id=${menu.id})}" method="post" style="display: inline;">
            <button type="submit" class="btn btn-danger" onclick="return confirm('정말로 삭제하시겠습니까?');">삭제</button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>