name: Deploy to EC2

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. 소스 코드 체크아웃
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2. JDK 설정
      - name: Set up Java 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: "17"

      # 3. Gradle 빌드
      - name: Build with Gradle
        working-directory: backend/jimechu
        run: sh gradlew clean build -x test

      # 4. jar 파일을 EC2 서버로 전송
      - name: Copy artifact to EC2
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          debug: true
          source: "backend/jimechu/build/libs/jimechu-0.0.1-SNAPSHOT.jar"
          target: "/home/ec2-user/app/"

      # 5. EC2 서버에서 무중단 배포 스크립트 실행
      - name: Deploy application on EC2
        uses: appleboy/ssh-action@v0.1.4
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          #  RDB 접속 정보를 환경변수로 주입하여 스크립트 실행
          script: |
            export RDS_HOSTNAME=${{ secrets.RDS_HOSTNAME }}
            export RDS_DB_NAME=${{ secrets.RDS_DB_NAME }}
            export RDS_USERNAME=${{ secrets.RDS_USERNAME }}
            export RDS_PASSWORD=${{ secrets.RDS_PASSWORD }}
            cd /home/ec2-user/app
            sh deploy.sh
